
html{
  background-color: #704214;
  padding-top: 0;
  font-size: 10px;
  display: block;
}
body{
  max-width: 100%;
  font-family: Arial;
  background-color: #FFF5E1;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 0;
  padding-bottom: 50px;
}
figure{
  background-color: #704214;
  max-width: 100%;
  margin: 0 250px;
  padding-top: 25px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
img{
  display: block;
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
figcaption{
  max-width: 100%;
  color: white;
}
#tribute-info{
  max-width: 100%;
  display: block;
}
ul{
  max-width: 800px;
  margin: 0 auto 50px auto;
  text-align: left;
}
li{
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
  margin: 25px 0;
}
